$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
$white:     #eee8d5;
$black:     #073642;

$fg: #586e75;
$bg: #fdf6e3;

#iterm2 pre {
  background-color: $bg;
  color: $fg;
}
#iterm2 .fg-0  { color: $black }
#iterm2 .fg-1  { color: $red }
#iterm2 .fg-2  { color: $green }
#iterm2 .fg-3  { color: $yellow }
#iterm2 .fg-4  { color: $blue }
#iterm2 .fg-5  { color: $magenta }
#iterm2 .fg-6  { color: $cyan }
#iterm2 .fg-7  { color: $white }
#iterm2 .fg-8  { color: lighten($black, 10%) }
#iterm2 .fg-9  { color: lighten($red, 10%) }
#iterm2 .fg-10 { color: lighten($green, 10%) }
#iterm2 .fg-11 { color: lighten($yellow, 10%) }
#iterm2 .fg-12 { color: lighten($blue, 10%) }
#iterm2 .fg-13 { color: lighten($magenta, 10%) }
#iterm2 .fg-14 { color: lighten($cyan, 10%) }
#iterm2 .fg-15 { color: lighten($white, 10%) }
